<div>
  <div class="mb-2 flex justify-between">
    <input
      type="text"
      placeholder="Rechercher par prenom, nom, adresse, statut..."
      class="border border-gray-300 rounded-lg px-4 py-2 w-96 focus:outline-none focus:ring-2 focus:ring-blue-500"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"/>
    <a routerLink="/livreurs/add-livreurs" class="btn-primary w-fit p-2 gap-2">
      Ajouter un livreur <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg></a>
  </div>
  <div class="rounded-xl overflow-hidden overflow-y-scroll h-[80vh]">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nom complet</th>
        <th>CNI</th>
        <th>N.Telephone</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @if(!loading) {
          @for (item of filteredLivreurs ; track item.idUsersColis) {
            <tr>
              <td>{{item.idUsersColis}}</td>
              <td>{{item.prenom}} {{item.nom}}</td>
              <td>{{item.cni}}</td>
              <td>{{item.telephone}}</td>
              <td>{{item.email}}</td>
              <td>{{item.adresse}}</td>
              <td>
                @if (item.statut === "Actif") {
                  <span class="bg-green-500 p-1 rounded text-white block text-center">{{item.statut}}</span>
                } @else {
                  <span class="bg-red-500 p-1 rounded text-white block text-center">{{item.statut}}</span>
                }
              </td>
              <td>
                <div class="flex justify-center gap-2">
                <a [routerLink]="['/livreurs/edit-livreur', item.idUsersColis]" class="btn-edit inline"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bolt-icon lucide-bolt"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"/><circle cx="12" cy="12" r="4"/></svg></a>
<!--                <a routerLink="" class="btn-delete inline"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2"><path d="M10 11v6"/><path d="M14 11v6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg></a>-->
                </div>
              </td>
            </tr>

          } @empty {
            <td colspan="8" class="text-center p-2">
              @if (searchTerm) {
                Aucun résultat trouvé pour "{{searchTerm}}"
              } @else {
                Aucun élément trouvé
              }
            </td>
          }
        } @else {
          <td colspan="8" class="text-center p-2">
            <app-loading-spinner/>
          </td>

        }

      </tbody>
    </table>
  </div>

</div>
