<div class="space-y-5">
  <div class="flex flex-col justify-center space-y-2">
    <h2 class="font-[500] text-3xl">Connexion à SendPack 👋🏾</h2>
    <p>Accéder à votre espace en quelques clics !</p>
  </div>

  <form class="flex flex-col">
    <label class="flex flex-col">
      <span>Nom d'utilisateur</span>
      <input type="text" placeholder="Votre nom d'utilisateur">
    </label>

    <label class="flex flex-col">
      <span>Mot de passe</span>
      <input type="password" placeholder="Votre mot de passe" >
    </label>
    <p>Mot de passe oublié ? <a routerLink="/auth/register" class="text-blue-500">Changez le ici</a> </p>


    <button class="btn-primary" type="submit">Se connecter <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-in-icon lucide-log-in"><path d="m10 17 5-5-5-5"/><path d="M15 12H3"/><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg></button>

    <div>
      <p>Vous n'avez pas de compte ? <a routerLink="/auth/register" class="text-blue-500">Créez un compte ici</a> </p>
    </div>
  </form>

</div>
