<div class="space-y-5">
  <div class="flex flex-col justify-center space-y-2">
    <h2 class="font-[500] text-3xl">S'inscrire à Yobante 👋🏾</h2>
    <p>Inscrivez-vous facilement en quelques clics !</p>
  </div>

  <div *ngIf="errorMessage != ''" class="mb-5 w-full">
    <app-error-message [message]="errorMessage"/>
  </div>

  <form class="flex flex-col" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label class="flex flex-col">
      <span>Nom d'utilisateur</span>
      <input
        type="text"
        placeholder="Votre nom d'utilisateur"
        formControlName="username"
      />
    </label>

    <label class="flex flex-col">
      <span>Email</span>
      <input
        type="email"
        placeholder="Votre email"
        formControlName="email"
      />
    </label>

    <label class="flex flex-col">
      <span>Mot de passe</span>
      <input
        type="password"
        placeholder="Votre mot de passe"
        formControlName="password"
      />
    </label>
    @if (loading) {
      <button [disabled]="true" class="btn-secondary" disabled>
        En cours…
      </button>
    } @else {
    <button class="btn-primary" type="submit">S'inscrire <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-in-icon lucide-log-in"><path d="m10 17 5-5-5-5"/><path d="M15 12H3"/><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/></svg></button>
    }

    <div>
      <p>Vous avez déjà un compte ? <a routerLink="/auth/login" class="text-blue-500">Connectez-vous ici !</a> </p>
    </div>
  </form>

</div>
