<div class="spacey-y-5">
  <h2 class="text-2xl font-[500] mb-4">Modifier un colis</h2>

  <div *ngIf="errorMessage != ''" class="mb-5 w-full">
    <app-error-message [message]="errorMessage"/>
  </div>

  <form class="gap-5" [formGroup]="colisForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-2 gap-5">
      <label class="flex flex-col">
        <span>Choisissez client</span>
        <select formControlName="idClient">
          @for (client of clients ; track client.idUsersColis) {
            <option [value]="client.idUsersColis">{{client.prenom}} {{client.nom}}</option>
          }
        </select>
      </label>

      <label class="flex flex-col">
        <span>Adresse de départ</span>
        <input
          type="text"
          placeholder="Adresse de départ"
          formControlName="adresseDepart"
        />
      </label>

      <label class="flex flex-col">
        <span>Adresse d'arrivée</span>
        <input
          type="text"
          placeholder="Adresse d'arrivée"
          formControlName="adresseArrivee"
        />
      </label>



      <label class="flex flex-col">
        <span>Poids</span>
        <input
          type="text"
          placeholder="Poids (kg)"
          formControlName="poids"
        />
      </label>

      <label class="flex flex-col">
        <span>Description</span>
        <textarea
          type="text"
          placeholder="Description"
          formControlName="description"
          rows="10"
        ></textarea>
      </label>
    </div>

    <button type="submit" [disabled]="loading" class="btn-primary">
      @if (loading) {
        Requête en cours
      } @else {
        Modifier le colis
      }
    </button>
  </form>
</div>
