<aside class="bg-indigo-600 dark:bg-indigo-600/20 h-full w-full rounded-xl p-5 flex flex-col justify-between">
 <div class="space-y-10">
   <div>
     <div class="flex text-white z-[10]">
       <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-icon lucide-package"><path d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z"/><path d="M12 22V12"/><polyline points="3.29 7 12 12 20.71 7"/><path d="m7.5 4.27 9 5.15"/></svg>
       <h1 class="text-2xl text-white font-[500]">yobante</h1>
     </div>
   </div>


   <div>
     <ul class="space-y-2 text-white">
       <li>
         <a routerLink="/dashboard" routerLinkActive="active-link" class="menu-link" [routerLinkActiveOptions]="{ exact: true }"
         >Dashboard</a>
       </li>
       <li>
         <a routerLink="colis" routerLinkActive="active-link" class="menu-link">Colis</a>
       </li>
       <li>
         <a routerLink="clients" routerLinkActive="active-link" class="menu-link">Clients</a>
       </li>
       <li>
         <a routerLink="livreurs" routerLinkActive="active-link" class="menu-link">Livreurs</a>
       </li>
       <li>
         <a routerLink="livraisons" routerLinkActive="active-link" class="menu-link">Livraisons</a>
       </li>
     </ul>
   </div>
 </div>

  <div>
    <button (click)="logout()" class="cursor-pointer text-white border border-white p-2 w-full rounded-lg flex justify-center items-center gap-1">Déconnexion <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg></button>
  </div>
</aside>
