@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');@import "tailwindcss";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*, *:before, *:after {
  font-family: "Work Sans", sans-serif;
}

form {
  @apply space-y-4;

  input,textarea, select {
    @apply bg-black/3 dark:bg-white/5 p-2 h-10 border border-black/50 dark:border-white/50 rounded-lg;
  }
}

.btn-primary {
  @apply disabled:bg-gray-300 disabled:text-gray-600 disabled:cursor-not-allowed cursor-pointer duration-200 ease-in-out h-10 px-2 bg-indigo-600 text-white font-[500] flex justify-center items-center border border-indigo-600 hover:bg-transparent hover:text-indigo-600 rounded-lg;
}

.btn-delete {
  @apply cursor-pointer duration-200 ease-in-out h-10 px-2 bg-red-600 text-white font-[500] flex justify-center items-center border border-red-600 hover:bg-transparent hover:text-red-600 rounded-lg;
}

.btn-edit {
  @apply cursor-pointer duration-200 ease-in-out h-10 px-2 bg-orange-500 text-white font-[500] flex justify-center items-center border border-orange-500 hover:bg-transparent hover:text-orange-500 rounded-lg;
}

.btn-done {
  @apply cursor-pointer duration-200 ease-in-out h-10 px-2 bg-green-500 text-white font-[500] flex justify-center items-center border border-green-500 hover:bg-transparent hover:text-green-500 rounded-lg;
}

.btn-more{
  @apply cursor-pointer duration-200 ease-in-out h-10 px-2 bg-indigo-600 text-white font-[500] flex justify-center items-center border border-indigo-600 hover:bg-transparent hover:text-indigo-600 rounded-lg;
}


.btn-secondary {
  @apply cursor-pointer duration-200 ease-in-out h-10 bg-white text-indigo-600 font-[500] flex justify-center items-center border border-white hover:bg-transparent hover:text-white rounded-lg w-full;
}

.active-link {
  @apply  bg-white text-indigo-600 font-[500];
}

.menu-link {
  @apply w-full block rounded-lg p-2 hover:bg-white hover:text-indigo-600 duration-250;
}

table {
  @apply w-full border-collapse mt-1;

  thead{
    @apply rounded;
  }

  td,th {
    @apply border dark:border-white/50  p-2;
  }

  th{
    @apply bg-indigo-600 text-white font-[500] border-indigo-600;
  }
}

input {
  @apply bg-black/3 dark:bg-white/5 p-2 h-10 border border-black/50 dark:border-white/50 rounded-lg;
}

#map { height: 180px; }
